<link rel="stylesheet" href="styles/main.css" type="text/css" />
<link rel="stylesheet" href="styles/squadron-page.css" type="text/css" />

<div class="squadron-container">
  <div id="squadron-data">
    <ap-squadron-header id="squadron-header-row"></ap-squadron-header>
  </div>
  <div id="fighter-data">
    <ap-fighter-row id="fighter-row-1"></ap-fighter-row>
    <ap-fighter-row id="fighter-row-2"></ap-fighter-row>
    <ap-fighter-row id="fighter-row-3"></ap-fighter-row>
    <ap-fighter-row id="fighter-row-4"></ap-fighter-row>
    <ap-fighter-row id="fighter-row-5"></ap-fighter-row>
    <ap-fighter-row id="fighter-row-6"></ap-fighter-row>
  </div>
</div>
