th,
tr,
input {
  text-align: center;
}

#weapon-bay {
  width: 7em;
}

#location,
#range-bracket {
  width: 4em;
}

#weapon-count,
#heat,
#attack-value {
  width: 3em;
}

.weapon-bay-table * {
  font-size: 6.5pt;
}

#bay-table[showRightBorder] {
  border-right: 1px solid black;
}
